<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <style>
        body{
            background-color: black;
            color:white;
        }
    </style> -->
</head>
<body>
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Natural Disasters & Economic Impact</h1>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light" style="background-color: white;">
        <div class="container-fluid">
          <span class="navbar-brand ms-5 mb-0 h1"><a href="#predict" style="text-decoration: none; color:black">Predict Inflation</a></span>
        </div>
      </nav>
    <!-- <div class="container mt-3">
        <img src="{{ url_for('static', filename='images/disaster.jpg') }}" alt="" width="100%" height="100%">
    </div> -->
    <div class="container mt-3">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/disaster.jpg') }}" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/flood.jpg') }}" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/earthquake.jpg') }}" class="d-block w-100" alt="Image 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <p>Asia is highly vulnerable to various natural disasters due to its diverse climate and complex geography. 
            Earthquakes frequently strike countries like Japan, Indonesia, and Nepal, causing significant destruction and loss of life. 
            Monsoons and typhoons annually impact Southeast Asia, including nations such as the Philippines, Vietnam, and Thailand, leading to severe flooding, landslides, and widespread displacement. 
            Volcanic eruptions are also a significant risk, particularly in Indonesia, home to many active volcanoes. 
            Additionally, regions such as Bangladesh and India face recurring challenges from cyclones and riverine flooding, further highlighting the need for robust disaster preparedness and response strategies across the continent.
        </p>
    </div>
    <div class="container mt-4">
        <div class="jumbotron">
            <h2 id="predict">Predict Inflation</h2>
        </div>
    </div>
    <div class="container mt-2 p-5"  style="border: 1px solid black; padding:10px;">
        <form method="POST" action="/predict">
            <div class="mb-3">
                <label for="disaster_subgroup" class="form-label">Disaster Subgroup</label>
                <select name="disaster_subgroup" id="disaster_subgroup" class="form-select">
                    {% for groups in params.subgroups%}
                        <option value="{{groups}}">{{groups}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="disaster_subtype" class="form-label">Disaster Subtype</label>
                <select name="disaster_subtype" id="disaster_subtype" class="form-select">
                    {% for subtype in params.subtypes%}
                        <option value="{{subtype}}">{{subtype}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="disaster_type" class="form-label">Disaster Type</label>
                <select name="disaster_type" id="disaster_type" class="form-select">
                    {% for type in params.types%}
                        <option value="{{type}}">{{type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="disaster_subregion" class="form-label">Disaster Subregion</label>
                <select name="disaster_subregion" id="disaster_subregion" class="form-select">
                    {% for region in params.subregion%}
                        <option value="{{region}}">{{region}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="disaster_iso" class="form-label">Country ISO Code</label>
                <select name="disaster_iso" id="disaster_iso" class="form-select">
                    {% for iso in params.iso%}
                        <option value="{{iso}}">{{iso}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="disaster_year" class="form-label">Year</label>
                <input type="number" name="disaster_year" id="disaster_year" class="form-control" min="1900" max="2500" placeholder="Start Year of Disaster">
            </div>
            <div class="mb-3">
                <label for="disaster_total_affected" class="form-label">Total Affected</label>
                <input type="number" id="disaster_total_affected" name="disaster_total_affected" class="form-control" placeholder="No: total affected">
            </div>
            <div class="mb-3">
                <label for="disaster_total_deaths" class="form-label">Total Deaths</label>
                <input type="number" id="disaster_total_deaths" name="disaster_total_deaths" class="form-control" placeholder="No: Deaths" min="0">
            </div>
            <div class="mb-3">
                <label for="magnitude_scale" class="form-label">Magnitude Scale</label>
                <select name="magnitude_scale" id="magnitude_scale" class="form-select">
                    <option value="degree">Degree Celsius</option>
                    <option value="km2">Km<sup>2</sup></option>
                    <option value="kmph">Km/h</option>
                    <option value="richter">Richter</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="diaster_magnitude" class="form-label">Magnitude</label>
                <input type="number" id="diaster_magnitude" name="diaster_magnitude" class="form-control" placeholder="Magnitude" step="0.01">
            </div>
            <button type="submit" class="btn btn-primary form-control mb-3">Submit</button>
        </form>
    </div>
    <footer>
        ©️
    </footer>
</body>
</html>
